* { margin: 0; padding: 0; font-family: arial; font-size: 12px; cursor: default; }
html, body { height: 100%; background: #B5B5B5; }
#top { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -163px; }
#bottom, #stretch { height: 162px; }

#bottom { background: url(../img/tileset.png) 0 -306px repeat-x; border-top: 1px solid #fff; }

#header { height: 80px; width: 100%; background: url(../img/tileset.png) 0 -92px repeat-x; }
#header h1 { float: left; width: 273px; height: 45px; text-indent: -999999px; background: url(../img/tileset.png) 0 -46px no-repeat; }
#header p { float: right; width: 273px; height: 45px; text-indent: -999999px; background: url(../img/tileset.png) 0 0 no-repeat; }

#dashboard { height: 120px; margin: 5px 0; overflow: auto; overflow: hidden; }
#dashboard h1 { color: #fff; font-size: 2.3em; font-weight: 400; text-shadow: 0 1px 1px #333; }
#panelLeft { float: left; width: 275px; }
#panelRight { float: right; width: 550px; }

#mycash { color: #fff; font-size: 4em; font-weight: 800; text-shadow: 0 1px 1px #333; }
#panelRight table { width: 100%; border-collapse: collapse; }
#panelRight tr:nth-child(3) { border-bottom: 1px solid #6C7C89; border-top: 1px solid #6C7C89; }
#panelRight tr:nth-child(1) td { color: #333; font-weight: 800; text-shadow: 0 1px 1px #aaa; letter-spacing: 1px; font-size: 1.5em; }
#panelRight td { color: #fff; font-size: 1.35em; padding: 1px 0; text-align: center; }
#panelRight td:nth-child(1) { text-align: left; }


#dialog { overflow: auto; color: #bbb; }
#messages { float: left; height: 23px; margin: 8px 0 0; font-size: 1.3em; }
#status { float: right; height: 23px; margin: 8px 0 0; font-size: 1.3em; }
.shell { width: 855px; margin: 0 auto; overflow: auto; }

#bottom, #main { display: none; }
#stretch { text-align: center; }

.stock { width: 250px; background: #dedede; float: left; }
.stock:nth-child(2) { margin: 0 50px; }
.stock h1 { background: url(../img/tileset.png) 0 -210px no-repeat; height: 47px; text-align: center; color: #069; }
.stock h1 span { text-shadow: 0 -1px 1px #333, 0 1px 1px #50AAE0; font-size: 3em; display: block; padding: 3px 0 0; }
.shareChange { width: 230px; margin: 10px auto; box-shadow: inset 1px 1px 5px #333; text-align: center; font-size: 3.5em; color: #fff; font-weight: 800; padding: 3px 0; letter-spacing: 2px; }
.gain { background: #090; }
.loss { background: #f00; }

.profile { display: block; border-collapse: collapse; width: 220px; margin: 15px auto; }
.profile td { width: 110px; text-align: left; color: #036; font-size: 1.2em; padding: 3px 0; }
.profile td:nth-child(even) { text-align: right; width: 110px; }
.profile tr:nth-child(2) { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }

.inpanel { width: 215px; background: #eaeaea; box-shadow: inset 0 0 3px #333; margin: 0 auto; display: none; }
.transaction { display: block; border-collapse: collapse; width: 180px; margin: 15px auto; }
.transaction td { width: 90px; text-align: left; color: #a33; font-size: 1em; padding: 3px 0; }
.transaction td:nth-child(even) { text-align: right; width: 90px; }
.transaction tr:nth-child(2) { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.transaction input { width: 100%; }

.action { width: 230px; margin: 20px auto 10px; overflow: auto; }
.action button { display: block; float: left; width: 95px; height: 32px; background: url(../img/tileset.png) -2px -175px no-repeat; border: 0; outline: none; margin: 0 0 8px; cursor: pointer; }
.action button:nth-child(2) { float: right; }
.action span { cursor: pointer; color: #fff; font-size: 1.5em; }
.action button:hover { text-shadow: -2px -2px 2px #3179AE, 2px 2px 2px #3179AE; }
.action button:active { background-position: -101px -175px; }

.shadow { width: 250px; height: 15px; background: url(../img/tileset.png) -10px -290px no-repeat; }

#alert { position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: rgba(10, 10, 10, 0.3); display: none; }
#alertShell { width: 500px; margin: 150px auto 0; border: 1px solid #333; box-shadow: 0 40px 30px -20px #333; display: none; }
#alert h1 { height: 31px; background: url(../img/tileset.png) 0 -258px repeat-x; overflow: auto; }
#alert h1 span { color: #fff; font-weight: 400; font-size: 2.0em; margin: 2px 20px 0; display: block; float: left; }
#alert h1 b { display: block; float: right; width: 27px; height: 31px; background: url(../img/tileset.png) -246px -176px no-repeat; text-indent: -999999px; margin: -1px 5px 1px; }
#alert #message { background: #fff; }
#message p { padding: 20px 10px 20px 30px; font-size: 1.2em; color: #036; }
#message button { display: block; border: 0; outline: 0; width: 95px; height: 32px; background: url(../img/tileset.png) -2px -175px no-repeat; border: 0; outline: none; margin: 0px 0 8px 380px; cursor: pointer; }
#message span { cursor: pointer; color: #fff; font-size: 1.5em; }
#message button:hover { text-shadow: -2px -2px 2px #3179AE, 2px 2px 2px #3179AE; }
#message button:active { background-position: -101px -175px; }

a { cursor: pointer !important; }